@model CryptocurrencyDashboard.Models.Currency

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Scripts/currency.js"></script>
    <link href="~/Style/style.css" rel="stylesheet" />
</head>
<body>
    <div class="main-header">
        <div class="sub-header">
            <a href="/Currency/Index">
                <div class="app-name">Creepyto</div></a>
                <div class="search-box">
                    <input class="form-control mr-sm-2 search-bar"
                           type="text"
                           placeholder="Search"
                           aria-label="Search"
                           oninput="searchCoin(this.value)" />
                    <div id="suggestions">

                    </div>
                </div>
        </div>
    </div>
    <div class="main-container">
        <div class="sub-container">
            <div class="link">
                <a href="/Currency/Index">Cryptocurrencies</a> > <a href="/Currency/Details?slug=@Model.Slug">@Model.Name</a>
            </div>
            <div class="name-container">
                <img class="details-logo"
                     src=@Model.img
                <div />
                <h2 class="name">@Model.Name <small class="symbol">@Model.Symbol</small></h2>
            </div>
            <div class="quote-container">
                <div class="priceTitle">
                    <div class="priceValue">
                        <span>@Model.Price</span>
                    </div>
                    @if (Model.PercentChange1h < 0)
                    {
                        <span style="background-color: #ea3943;" class="volume2">
                            <span>&#9662;@Math.Abs(@Model.PercentChange1h)%</span>
                        </span>
                    }
                    else
                    {
                        <span style="background-color: #16c784;" class="volume2">
                            <span>&#9652;@Math.Abs(@Model.PercentChange1h)%</span>
                        </span>
                    }
                </div>
            </div>
            <div display="flex" class="rank1" style="flex-wrap: wrap">
                <div class="rank">Rank #@Model.Rank</div>
            </div>
            <div class="others">
                <table class="table-other">
                    <thead>
                        <tr>
                            <td>
                                <div class="stats">
                                    <div class="stats-header">
                                        Percent
                                        <div class="name-pill">24h</div>
                                    </div>
                                    <div class="data">@Model.PercentChange24h%</div>
                                </div>
                            </td>
                            <td>
                                <div class="stats stats-center">
                                    <div class="stats-header">Market Cap</div>
                                    <div class="data">@Model.MarketCapUsd</div>
                                </div>
                            </td>
                            <td>
                                <div class="stats">
                                    <div class="stats-header">Volume (24h)</div>
                                    <div class="data">@Model.Volume24hUsd</div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <footer class="footer p-5 mt-4 mb-0">
        <div class="footer-description">Phan Thai An - 51900002</div>
        <div class="footer-description">Cryptocurrency Dashboard - 2021</div>
    </footer>
    <table hidden id="search">
        @foreach (var item in ViewBag.result)
        {
            <tr>
                <td>@item.img</td>
                <td>@item.Name</td>
                <td>@item.Symbol</td>
                <td>@item.Slug</td>
            </tr>
        }
    </table>
    <script>
        var queryString = window.location.search;
        var page = '';
        if (queryString == '') {
            queryString = '?page=1';
            page = 1;
        } else {
            const urlParams = new URLSearchParams(queryString);
            page = urlParams.get('page')
        }
        const suggestions = document.getElementById('suggestions');
        suggestions.innerHTML = '';

        $(window).click(function () {
            suggestions.innerHTML = '';
            suggestions.style.overflowY = "hidden";
        });
        function searchCoin(value) {

            if (value.length < 1) {
                suggestions.innerHTML = '';
                suggestions.style.overflowY = "hidden";
                return;
            }
            searching(value);
        }
        function searching(keyword) {
            suggestions.innerHTML = '';
            suggestions.style.overflowY = "hidden";       
            $('#search tr').each(function () {
                var symbol = $(this).find("td:nth-child(3)").text().toLowerCase();
                var name = $(this).find("td:nth-child(2)").text().toLowerCase();

                if (symbol.indexOf(keyword.toLowerCase()) >= 0 || name.indexOf(keyword.toLowerCase()) >= 0) {
                    var imgLink = $(this).find("td:nth-child(1)").text();
                    var name = $(this).find("td:nth-child(2)").text();
                    var sym = $(this).find("td:nth-child(3)").text();
                    var slug = $(this).find("td:nth-child(4)").text();;

                    var div = document.createElement('div');
                    var a = document.createElement('a');
                    a.setAttribute('href', "/Currency/Details?slug=" + slug);

                    var div2 = document.createElement('div');

                    var namep = document.createElement('p');
                    namep.className = 'name-search';

                    var symp = document.createElement('p');
                    symp.className = 'symbol-search';

                    var img = document.createElement('img');
                    img.setAttribute('src', imgLink);
                    img.className = 'logo-search';

                    namep.innerHTML = name;
                    symp.innerHTML = sym;

                    div2.appendChild(img);
                    div2.appendChild(namep);
                    div2.appendChild(symp);
                    div2.className = 'list-group-item';

                    a.appendChild(div2);
                    div.appendChild(a);

                    suggestions.appendChild(div);
                }
            });
            if (suggestions.childElementCount > 10) {
                suggestions.style.height = "400px";
                suggestions.style.overflowY = "scroll";
            }
        }
    </script>
</body>
</html>
